* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

#container {
  background-color: #FFF;
  padding: 7.3% 6%;
}

/* header section */
header {
  margin-bottom: 9.3em;
}

#logo {
  margin-bottom: 1.3rem;
}

header h1 {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 48px;
}

/* color system */
#color-system {
  padding-bottom: 1em;
  margin-bottom: 9em;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}
  .flexbox2 {
    margin-top: 5em;
  }

.color {
  width: 350px;
  height: 204px;
  margin: 0 1.3em 0 0;
}

.color-box {
  background-color: #0e8f84;

  max-width: 350px;
  height: 100px;
  padding: 0 1em 20px 1em;
  border-radius: 8px;

  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  /* typography */
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}
  #dark-cyan .color-box {
    background-color: #0e8f84;
  }

  #dark-grey-blue .color-box {
    background-color: #333D4B;
  }

  #pale-orange .color-box {
    background-color: #FDD6BA;
    color: #333D4B;
  }
    #pale-orange .color-name {
      color: #333D4B;mix-blend-mode: normal;
      opacity: 0.25;
    }

    #light-cream .color-box {
    background-color: #FEFCF7;
    color: #333D4B;
  }
    #light-cream .color-name {
      color: #333D4B;mix-blend-mode: normal;
      opacity: 0.25;
    }

    #grey .color-box {
    background-color: #83888F;
  }

.color-name {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.color-nums {
  /* flexbox */
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.rgb,
.hsl {
  /* flexbox */
  display: flex;
  justify-content: flex-start;

  /* font */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
  .rgb {
    margin-bottom: 1em;
  }
    .rgb p:nth-child(2n),
    .hsl p:nth-child(2n) {
      margin-left: 3em;
    }

/* typography */
/* #typography {
  background-color: skyblue;
} */

#fonts {
  display: flex;
}

#fraunces {
  background-color: #0E8784;
  border-radius: 8px 0 0 8px;
  width: 41.6em; /* 665px */
  padding: 3%;
}

#fraunces h1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
  /* identical to box height, or 129% */
  color: #FFFFFF;
}

#fraunces p {
  min-width: 20em; /* 320px */
  max-width: 28em; /* 448px */
  word-break: break-word;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 8.33333px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

#barlow {
  background-color: #333D4B;
  border-radius: 0 8px 8px 0;
  width: 27.88em; /* 446px */
  padding: 3%;
}

#barlow h1 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  /* identical to box height, or 129% */
  color: #FFFFFF;
}

#barlow p {
  width: 350px;
  word-break: break-word;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  /* or 229% */
  letter-spacing: 5.83333px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

#text {
  margin-top: 4.5em;
  display: flex;
}

#headings {
  width: 41.6em; /* 665px */
}

#body-text {
  width: 27.88em; /* 446px */
}

.typography-headings {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.heading-type {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #333D4B;
  margin-right: 1em;
}

.font-specifics {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #333D4B;
}

.margin-top {
  margin-top: 3em;
}
.margin-bottom {
  margin-bottom: .7em;
}

#big-title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  /* or 48% */
  text-transform: lowercase;
  color: #83888F;
}

#h1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */
  color: #333D4B;
}

#h2 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  color: #333D4B;
}

#h3 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  color: #333D4B;
}

#h4 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  color: #333D4B;
}

#text.body-text {
  margin-top: 1.5em;

  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Navbar */
#navigation-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#navigation-menu a {
  margin: 0 32px 0 0;
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  cursor: pointer;
}
  #navigation-menu a:hover,
  #navigation-menu a:focus {
    color: #FEFCF7;
  }

/* buttons */
#buttons {
  display: flex;
  flex-direction: column;
  padding: 10em 0;
}

.heading-type-btns {
  margin-bottom: 1.5em;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #333D4B;
  text-align: center;
}

#primary-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  #primary-buttons > div {
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
  }

#default-btn button {
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  outline: none;
  border: none;

  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #FEFCF7;

  cursor: pointer;
}
  #default-btn button:hover,
  #default-btn button:focus {
    background-color: #66D2CF;
  }

#hover-btn button {
  width: 217px;
  height: 56px;
  background: #66D2CF;
  border-radius: 6px;
  outline: none;
  border: none;

  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #FEFCF7;

  cursor: pointer;
}

#disabled-btn button {
  width: 217px;
  height: 56px;
  background: #E2DEDB;
  border-radius: 6px;
  outline: none;
  border: none;

  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #FEFCF7;

  cursor: pointer;
}

/* options */
#big-selection-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  #big-selection-btns > div {
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
  }

#option-default button,
#option-hover button,
#option-active button {
  width: 228px;
  height: 250px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 0.5em;
  background: #F4F1EB;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 28px;
}

#option-default h4,
#option-hover h4,
#option-active h4 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #333D4B;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 24px;
  pointer-events: none;
}

#option-default p,
#option-hover p,
#option-active p {
  width: 172px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333D4B;
  text-align: left;
  pointer-events: none;
}
  #option-default button:hover {
    background: #FDD6BA;
  }
  #option-default button:active {
    background: #0E8784;
  }
  #option-default button:active > h4,
  #option-default button:active > p {
    color: #FFF;
  }

#option-hover button {
  background: #FDD6BA;
}
#option-active button {
  background: #0E8784;
}

#option-active h4,
#option-active p {
  color: #FFF;
}
