/* About Hero section */
main {
  margin-top: 14px;
  margin-bottom: 120px;
}

.about-hero-image {
  min-width: 250px;
  height: 400px;

  background-image: url("../images/about/mobile/image-hero-whitecup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 10px;
}
main.nav-show {
  height: 100vh;
  margin-top: -0.5rem;
}

.about-hero {
  width: 85%;
  position: absolute;
  top: 30%;
  left: 8%;
}

.about-hero h1 {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 28px;
  color: #FEFCF7;
}

.about-hero div {
  width: 90%;
  max-width: 445px;
  margin-bottom: 40px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* About - commitment section */
#commitment {
  margin: auto;
  margin-bottom: 196px;
  width: 90%;
}

.commitment-text h2 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 30px;
}

.commitment-image {
  min-width: 250px;
  height: 400px;
  margin-bottom: 48px;

  background-image: url("../images/about/mobile/image-commitment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 10px;
}

/* About - quality section */
#quality {
  position: relative;
  margin: auto;
  margin-bottom: 120px;
  padding-top: 142px;
  width: 90%;
  height: 369px;
  border-radius: 10px;
  background-color: #2a3139;
}

.quality-image {
  position: absolute;
  top: -15%;
  left: 7%;
  width: 86%;
  max-width: 573px;
  height: 156px;

  background-image: url("../images/about/mobile/image-quality.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 10px;
}

.quality-text {
  width: 85%;
  color: #FEFCF7;
}
.quality-text h2 {
  font-size: 28px;
  margin-bottom: 21px;
}
.quality-text p {
  opacity: 0.8;
}

/* About - headquarters section */
#headquarters {
  margin-bottom: 120px;
}

#headquarters h3 {
  color: #83888F;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  margin-bottom: 72px;
}

.hq-united-kingdom,
.hq-canada {
  margin-bottom: 80px;
}

.united-kingdom-image,
.canada-image,
.australia-image {
  margin-bottom: 42px;
}

.hq-united-kingdom h2,
.hq-canada h2,
.hq-australia h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 22px;
}

.hq-united-kingdom p,
.hq-canada p,
.hq-australia p {
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .about-hero,
  .commitment-text,
  #headquarters {
    text-align: left;
  }
  #logo {
    margin-left: 0;
  }
  main {
    margin-top: 7px;
  }
  .about-hero-image {
    background-image: url("../images/about/tablet/image-hero-whitecup.jpg");
  }
  .about-hero {
    width: 398px;
    top: 32.9%;
    left: 9%;
  }
    .about-hero h1 {
      font-size: 32px;
      line-height: 40px;
    }
    .about-hero div {
      width: 100%;
    }

  /* About - commitment section @ min-width:768px */
  #commitment {
    display: flex;
    margin-bottom: 258px;
  }
  .commitment-image {
    background-image: url("../images/about/tablet/image-commitment.jpg");
    width: 281px;
    height: 470px;
  }
  .commitment-text {
    width: 339px;
    margin-top: 8px;
    margin-left: 69px;
  }

  /* About - quality section @ min-width:768px */
  #quality {
    width: 688px;
    height: 263px;
    padding-top: 225px;
    margin-bottom: 144px;
  }
  .quality-image {
    top: -33%;
    background-image: url("../images/about/tablet/image-quality.jpg");
    width: 573px;
    height: 320px;
  }
  .quality-text h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .quality-text p {
    width: 538px;
  }

  /* About - headquarters section @ min-width:768px */
  #headquarters {
    margin: auto;
    margin-bottom: 144px;
    width: 688px;
  }
  .headquarters-address {
    display: flex;
    justify-content: space-between;
  }
  .hq-united-kingdom,
  .hq-canada,
  .hq-australia {
    margin: 0;
  }
  .hq-united-kingdom h2,
  .hq-canada h2,
  .hq-australia h2 {
    font-size: 24px;
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 1300px) {
  main {
    margin-top: 0;
    margin-bottom: 96px;
  }
  .about-hero-image {
    width: 1280px;
    height: 450px;
  
    background-image: url("../images/about/desktop/image-hero-whitecup.jpg");
  }
  .about-hero {
    width: 445px;
    top: 31%;
    left: 10.4%;
  }
  .about-hero h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .about-hero div {
    font-size: 16px;
    line-height: 26px;
  }

  /* About - commitment section @ min-width:1300px */
  .commitment-image {
    background-image: url("../images/about/desktop/image-commitment.jpg");
    width: 445px;
    height: 520px;
    margin-left: 4.8%;
  }
  .commitment-text {
    width: 538px;
    margin-top: 5.5rem;
    margin-left: 56px;
  }
  .commitment-text h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 33px;
  }
  .commitment-text p {
    font-size: 16px;
    line-height: 26px;
  }

}
