:root {
  font-size: 16px;
  overflow-x: hidden;
}
/* General reset & styles */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fefcf7;
  scroll-behavior: smooth;
  position: relative;
}

div,
img,
a,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  margin: auto;
}

/* General typography */
body {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #333D4B;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

/* Header styles */
header {
  position: relative;
  padding-top: 32px;
}

/* Logo */
#logo {
  margin-left: 24px;
  width: 180px;
}

#logo img {
  width: inherit;
}

/* Navigation icons */
.hamburger-icon,
.close-icon {
  width: 16px;
  position: absolute;
  top: 2.15rem;
  right: 24px;
  pointer-events: all;
}

/* Mobile hide menu and close-icon */
.navbar-menu,
.close-icon {
  display: none;
}

/* HEADER Navbar */
.navbar-menu {
  padding-top: 60px;
}
.navbar-list {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(180deg, #FEFCF7 28%, rgba(254, 252, 247, 0.504981));
}
  .navbar-list li {
    margin: 0.7rem 0;
  }
  .navbar-list li:nth-child(2n) {
    margin: 21px 0;
  }
    .navbar-list a {
      text-decoration: none;
      /* mobile typography */
      font-family: 'Fraunces', serif;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #333D4B;
    }

/* Items to toggle */
.close-icon.show,
.navbar-menu.show {
  display: block;
}
.hamburger-icon.hide {
  display: none;
}

/* Hero section */
main {
  margin-top: 30px;
  padding: 5%;
  position: relative;
}

.hero-image {
  min-width: 250px;
  height: 500px;

  background-image: url("../images/home/mobile/image-hero-coffeepress.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 10px; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 10px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 10px;
  z-index: 1;
}
main.nav-show {
  margin-top: -1rem;
}

.hero {
  width: 85%;
  position: absolute;
  top: 22%;
  left: 8%;
  z-index: 2;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  color: #FEFCF7;
}
  @media screen and (min-width: 324px) {
    .hero h1 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

.hero div {
  width: 90%;
  max-width: 445px;
  margin-bottom: 40px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

button.primary-btn {
  width: 217px;
  height: 56px;
  background: #0E8784;
  border: none;
  border-radius: 6px;

  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;

  cursor: pointer;
}
  button.primary-btn:hover,
  button.primary-btn:focus {
    background-color: #66D2CF;
  }

/* Collection section  */
#collection {
  margin-top: 5.9rem;
}

section h1 {
  font-size: 40px;
  line-height: 72px;
  background: -webkit-linear-gradient(#83888F, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coffee-collection {
  padding-top: 1.5rem;
}
  .collection-item img {
    width: 200px;
    height: 150px;
    margin-bottom: 0.7rem;
  }
  .coffee-collection h3 {
    margin-bottom: 1rem;
  }
  .coffee-collection p {
    max-width: 282px;
    margin-bottom: 3.6rem;
  }
  .coffee-collection:last-child {
    margin-bottom: 7.5rem;
  }

/* Role section */
#role {
  position: relative;
}
  .background-clr {
    width: 85%;
    height: 902px;
    position: absolute;
    left: 8%;
    background-color: #2C343E;
    border-radius: 10px;
    z-index: 1;
  }

.role-container {
  width: 75%;
  padding-top: 3.85rem;
  position: relative;
  z-index: 2;
}
  .role-container .role-heading h2 {
    padding-bottom: 1.5rem;
    font-size: 28px;
    line-height: 28px;
    color: #FEFCF7;
  }
  .role-container .role-heading p {
    max-width: 540px;    
    padding-bottom: 2rem;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

.roles {
  margin-top: 2rem;
}
  .roles .card {
    width: 279px;
    height: 240px;
    margin: 24px auto;
    padding: 72px 0;
    background: #0E8784;
    border-radius: 8px;
  }
  .roles h3,
  .roles p {
    color: #FEFCF7;
  }
  .roles h3 {
    margin-top: 3rem;
  }
  .roles p {
    margin-top: 1.7rem;
    width: 200px;
  }

/* Process section */
#process {
  padding-top: 7rem;
  padding-bottom: 7.5rem;
}
  #process h3 {
    color: #83888F;
    margin-bottom: 80px;
  }

.hr-decor {
  min-width: 497px;
  max-width: 760px;
  display: none;
}

.big-title {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 1.5rem;
}

.step h2 {
  margin-bottom: 1.5rem;
}

.step p {
  width: 315px;  
  margin-bottom: 3.5rem;
}
  .step p:last-child {
    margin-bottom: 4.9rem;
  }

/* Footer */
.footer-content {
  background-color: #2C343E;
  min-width: 327px;
  max-width: 85%;
  height: 346px;
  margin-bottom: 72px;
  padding-top: 54px;
}
#footer .footer-logo {
  width: 86%;
  margin: auto;
  margin-bottom: 33px;
}
  #footer .footer-logo .white-txt {
    fill: #fff;
  }

/* Footer Navbar */
.footer-navbar-list {
  height: 105px;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-navbar-list a {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  cursor: pointer;
}
  .footer-content .footer-navbar-list a:hover,
  .footer-content .footer-navbar-list a:focus {
    color: #FEFCF7;
  }

.social-links {
  width: 122px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .social-links svg path:hover,
  .social-links svg path:active,
  .social-links svg path:focus {
    fill: #fdd6b9;
  }

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }
  .hero,
  .collection-item h3,
  .collection-item p,
  .roles h3,
  .roles p,
  #process {
    text-align: left;
  }

  /* header media query w/logo and navbar menu  @ 768px */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 39px 0;
  }
  #logo {
    width: 236px;
  }
  .hamburger-icon {
    display: none;
  }
  .navbar-menu {
    display: inline-block;
    padding-top: 0;
  }
  .navbar-list {
    width: 290px;
    height: 20px;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-list li,
  .navbar-list li:nth-child(2n) {
    margin: 0 0 10px 0;
  }
  .navbar-list a {
    /* tablet & desktop typography */
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    cursor: pointer;
  }
    .navbar-list a:hover,
    .navbar-list a:focus {
      color: #333D4B;
    }

  /* main and hero section media query @ 768px */
  main {
    margin-top: 6px;
  }
  .hero-image {
    background-image: url("../images/home/tablet/image-hero-coffeepress.jpg");
  }
  .hero {
    top: 25.2%;
    left: 15.65%;
    width: 50%;
  }
    .hero h1 {
      font-size: 48px;
      line-height: 47px;
      margin-bottom: 25px;
    }
    .hero div {
      margin-left: 0;
      margin-bottom: 38px;
      width: 100%;
    }

  /* our collection @ 768px media query */
  #collection {
    margin-top: 8rem;
  }

  section h1 {
    font-size: 105px;
    background: -webkit-linear-gradient(#83888F, rgba(238, 238, 238, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .coffee-collection {
    padding-top: 0;
    margin-top: -1.5rem;
  }
    .collection-item {
      width: 65%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .collection-item img {
      width: 235px;
      height: 183px;
      margin-bottom: 2.37rem;
    }
    .coffee-collection:last-child {
      margin-bottom: 6.5rem;
    }

  /* roles section @ 768px media query */
  .background-clr {
    width: 90%;
    height: 573px;
    left: 5.5%;
  }

  .role-heading {
    width: 85.8%;
  }
    .role-container .role-heading h2 {
      margin-top: -6px;
      font-size: 32px;
      line-height: 48px;
    }
    .role-container .role-heading p {
      line-height: 26px;
      padding-bottom: 2.3rem;
    }

  .roles .card {
    padding: 0;
    width: 573px;
    height: 180px;
    display: flex;
    justify-content: space-around;
  }
  .roles .card img {
    margin-left: 8.5%;
    width: 56px;
  }
  .roles-text {
    width: 350px;
    margin-left: 2.3rem;
  }
  .roles h3 {
    margin: 0 0 1rem 0;
  }
  .roles p {
    letter-spacing: 0.5px;
    margin-top: 0;
    width: 100%;
  }

  #role {
    margin-bottom: 2rem;
  }
/* roles section @ 768px media query */
  .background-clr {
    width: 90%;
    height: 573px;
    left: 5.5%;
  }

  .role-heading {
    width: 85.8%;
  }
    .role-container .role-heading h2 {
      margin-top: -6px;
      font-size: 32px;
      line-height: 48px;
    }
    .role-container .role-heading p {
      line-height: 26px;
      padding-bottom: 2.3rem;
    }

  .roles .card {
    padding: 0;
    width: 573px;
    height: 180px;
    display: flex;
    justify-content: space-around;
  }
  .roles .card img {
    margin-left: 8.5%;
    width: 56px;
  }
  .roles-text {
    width: 350px;
    margin-left: 2.3rem;
  }
  .roles h3 {
    margin: 0 0 1rem 0;
  }
  .roles p {
    letter-spacing: 0.5px;
    margin-top: 0;
    width: 100%;
  }

  #role {
    margin-bottom: 2rem;
  }

  /* #process section  @ 768px media query */
  #process {
    margin-left: 5%;
    margin-bottom: 1.5rem;
  }
  #process h3 {
    margin-bottom: 46px;
  }
  .hr-decor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-left: 0;
    width: 520px;
    margin-bottom: 53px;
  }
  hr {
    width: 520px;
    border: 1px solid #FDD6BA;
  }
  .circle {
    position: absolute;
    top: -8px;
    background-color: #fefcf7;
    width: 26px;
    height: 26px;
    border: 2px solid #178784;
    border-radius: 50%;
  }
    .circle1 {
      -webkit-animation: circleColor 2000ms ease-in-out 1000ms 1 reverse;
      animation: circleColor 2000ms ease-in-out 1000ms 1 reverse;
    }
    .circle2 {
      left: 46%;
      -webkit-animation: circleColor circleColor 3000ms ease-in-out 2000ms 1 reverse;
      animation: circleColor 3000ms ease-in-out 2000ms 1 reverse;
    }
    .circle3 {
      right: 0;
      -webkit-animation: circleColor 4000ms ease-in-out 3000ms 1 reverse;
      animation: circleColor 4000ms ease-in-out 3000ms 1 reverse;
    }
    @keyframes circleColor {
      0% { background-color: #fefcf7; }
      25% { background-color: #1787833d; }
      50% { background-color: #1787837c; }
      75% { background-color: #178783a1; }
      100% { background-color: #178784; }
    }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    margin-left: -1rem;
    margin-bottom: 0;
  }
  .step {
    margin-top: 3px;
  }
    .step h2 {
      font-size: 28px;
      width: 180px;
      margin-top: 2.5rem;
      margin-left: 0;
    }
    .step p {
      margin-top: 2.8rem;
      margin-left: 0;
      width: 205px;
      margin-bottom: 0;
    }
    .step2 p {
      width: 215px;
    }
    .step p:last-child {
      margin-bottom: 2.7rem;
    }

  /* footer section */
  .footer-content{
    min-width: 688px;
    height: 215px;
  }
  #footer .footer-logo {
    margin-bottom: 1rem;
  }
  .footer-navbar-list {
    flex-direction: row;
    width: 283px;
    height: 1.3rem;
    margin-bottom: 4.35rem;
  }
}
/* media query @ 768px  end */

@media screen and (min-width: 1275px) {
  .collection-item h3,
  .collection-item p,
  .roles h3,
  .roles p {
    text-align: center;
  }

  /* header media query w/logo and navbar menu  @ 1275px */
  header {
    width: 90%;
    padding: 43px 80px 0 60px;
    margin-bottom: 0;
  }
  #logo {
    width: 260px;
    margin-left: 10px;
  }
  .navbar-list a {
    font-size: 13px;
  }

  /* main and hero section media query @ 1275px */
  main {
    margin-top: 0;
    padding-top: 34px;
  }
  .hero-image {
    margin-top: 0;
    background-image: url("../images/home/desktop/image-hero-coffeepress.jpg");
    height: 600px;
  }
  .hero {
    top: 21.5%;
    left: 10%;
    width: 45%;
  }
    .hero h1 {
      width: 505px;
      margin-left: 0;
      margin-bottom: 32px;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: 3px;
      word-spacing: 3px;
    }
    .hero div {
      width: 440px;
      margin-bottom: 56px;
      font-size: 16px;
      line-height: 26px;
    }

  /* collection section media query @ 1275px */
  #collection {
    margin-top: 6.5rem;
    margin-bottom: 9.1rem;
  }
  section h1 {
    font-size: 150px;
    line-height: 150px;
    letter-spacing: 6px;
    word-spacing: 8px;
  }

  .coffee-collection {
    margin-top: -3.5rem;
    display: flex;
    flex-direction: row;
    width: 73%;
  }
    .collection-item {
      flex-direction: column;
    }
    .collection-item img {
      margin-top: 0.5rem;
      margin-bottom: 4.3rem;
    }
      .collection-text {
        width: 250px;
      }
      .collection-text h3 {
        margin-bottom: 1.2rem;
      }
      .collection-text p {
        font-size: 1rem;
      }

  /* roles section @ 1275px media query */
  .role-container .role-heading h2 {
    margin-top: 39px;
    margin-bottom: 0.6rem;
    font-size: 40px;
    line-height: 48px;
  }
  .role-container .role-heading p {
    font-size: 1rem;
    padding-bottom: 1.8rem;
    width: 58%;
  }

  .roles {
    display: flex;
    flex-direction: row;
    width: 106%;
    margin-left: -1rem;
  }
  .roles .card {
    width: 350px;
    height: 312px;
    padding-top: 72px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
    .roles .card img {
      margin: 0;
      width: 72px;
    }
    .roles-text {
      width: 350px;
      margin: 0;
      margin-top: 56px;
    }
    .roles h3 {
      margin: 0;
    }
    .roles p {
      font-size: 16px;
      width: 80%;
      margin-top: 24px;
    }
    #truck {
      margin-top: 0.55rem;
      width: 90px;
    }

  /* process section @ 1275px media query */
  #process {
    padding-top: 8.8rem;
    margin: auto;
    margin-bottom: 5rem;
    width: 85%;
  }

  #process h3 {
    margin-left: 4.5rem;
    margin-bottom: 5.2rem;
  }

  .hr-decor,
  hr {
    width: 100%;
  }
    .hr-decor {
      margin-left: 4.5rem;
    }
    .circle2 {
      left: 50%;
    }
    .circle3 {
      right: -4%;
    }

  .steps {
    margin-left: 1.3rem;
    width: 94%;
  }
    .step h2 {
      font-size: 32px;
      line-height: 36px;
    }
    .step p {
      font-size: 16px;
      line-height: 26px;
      width: 285px;
    }

  #process button {
    margin-left: 4.5rem;
  }

}
/* media query @ 1275px  end */
