/* Plan.html Main Hero section */
main {
  margin-top: 10.3px;
  margin-bottom: 6.4rem;
}

.plan-hero-image {
  min-width: 250px;
  height: 400px;

  background-image: url("../images/plan/mobile/image-hero-blackcup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 10px; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 10px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 10px;
  z-index: 1;
}

.plan-hero {
  width: 85%;
  position: absolute;
  top: 27.8%;
  left: 8%;
  z-index: 2;
}

.plan-hero h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  color: #FEFCF7;
}
  @media screen and (min-width: 324px) {
    .plan-hero h1 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

.plan-hero div {
  width: 90%;
  max-width: 445px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Plan Process section */
#process {
  width: 100%;
  height: 828px;
  padding-top: 5rem;
  margin-bottom: 120px;
  background-color: #2C343E;
  border-radius: 10px;
}

.step h2 {
  font-size: 28px;
  line-height: 32px;
  color: #FFF;
}
.steps .step p {
  color: #FFF;
  margin-bottom: 3.5rem;
}

/* Plan/Order section of Plan.html */
#plan {
  padding-bottom: 120px;
}

.plan-navigation {
  display: none;
}

#all-options {
  margin-bottom: 120px;
}

.option,
.option-btns button,
#order-summary {
  text-align: left;
}

.option {
  width: 328px;
  margin-bottom: 96px;
}
  .option:first-child {
    margin-top: 2px;
  }

.plan-q {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .plan-q h2 {
    line-height: 28px;
    color: #83888F;
    width: 240px;
    margin-left: 0;
  }
  .arrow {
    rotate: 180deg;
  }

.option-btns button {
  border: none;
  padding: 24px 25px;
  background-color: #F4F1EB;
  border-radius: 8px;
  cursor: pointer;
}
  .option-btns button:nth-child(2n) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .option-btns button h3 {
    color: #333D4B;
    margin-bottom: 8px;
  }

  .option-btns button p {
    width: 260px;
    font-family: 'Barlow';
    font-size:  16px;
    line-height: 26px;
    color: #333D4B;
  }

#order-summary {
  width: 328px;
  height: 277px;
  padding: 32px 24px;
  margin-bottom: 56px;
  background-color: #2C343E;
  border-radius: 10px;
}
  #order-summary div:first-child {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  #order-summary h3 {
    width: 279px;
    line-height: 40px;
    color: #FFFFFF;
  }
  #order-summary h3 span {
    color: #0E8784;
  }

@media screen and (min-width: 768px) {
  main {
    margin-top: 6px;
  }
  .plan-hero-image {
    background-image: url("../images/plan/tablet/image-hero-blackcup.jpg");
  }

  .plan-hero {
    text-align: left;
    margin-top: 2.1rem;
    margin-left: 3.7rem;
  }
    .plan-hero h1 {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 1px;
    }
    .plan-hero div {
      margin-left: 0;
      width: 398px;
    }
  /* process section @ 768px media query */
  #process {
    height: 441px;
    margin-bottom: 144px;
  }
  .hr-decor {
    margin-top: 23px;
    margin-left: 63px;
  }
  hr {
    width: 440px;
    margin-left: 15px;
  }
  .circle {
    background-color: transparent;
    animation: none;
  }
  .circle2 {
    left: 44.8%;
  }
  .circle3 {
    left: 75.8%;
  }

  .steps {
    margin-left: 4rem;
  }
    .steps .step {
      margin: 0;
    }
    .step.step2 {
      margin: 0 10px;
    }
    .step.step3 {
      margin-top: 2px;
    }
    .steps .step p {
      width: 223px;
    }
    .step.step2 p {
      width: 215px;
    }
    .step.step3 p {
      width: 204px;
    }

  /* #all-options section @ 768px media query */
  #plan {
    padding-bottom: 144px;
  }

  .option {
    width: 689px;
  }

  .plan-q h2 {
    width: 506px;
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 48px;
  }

  #all-options {
    margin-bottom: 144px;
  }
  .option-btns {
    display: flex;
    margin-bottom: 101px;
  }
    .option-btns button {
      width: 223px;
      height: 250px;
      padding: 0 24px;
    }
    .option-btns button:nth-child(2n) {
      margin: 0 10px;
    }
    .option-btns button h3 {
      margin-top: -3.05rem;
      margin-bottom: 24px;
    }
    .option-btns button p {
      width: 172px;
    }

  #order-summary {
    width: 689px;
    height: 180px;
    padding: 0;
    padding-top: 27px;
    padding-left: 44px;
    margin-bottom: 40px;
  }

  #order-summary h3 {
    width: 602px;
  }

}

/* button hover, focus and active states */
@media (hover: hover) {
  .option-btns button:hover {
    background: #FDD6BA;
  }

  .option-btns button:active {
    background: #0E8784;
  }

  .option-btns button:active > h3,
  .option-btns button:active > p {
    color: #FFF;
  }
}

.option-btns button:focus {
  background: #FDD6BA;
}
