/* Plan.html Main Hero section */
main {
  margin-top: 10.3px;
  margin-bottom: 6.4rem;
}

.plan-hero-image {
  min-width: 250px;
  height: 400px;

  background-image: url("../images/plan/mobile/image-hero-blackcup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 10px; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 10px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 10px;
  z-index: 1;
}

.plan-hero {
  width: 85%;
  position: absolute;
  top: 27.8%;
  left: 8%;
  /* z-index: 2; */
}

.plan-hero h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  color: #FEFCF7;
}
  @media screen and (min-width: 324px) {
    .plan-hero h1 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

.plan-hero div {
  width: 90%;
  max-width: 445px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Plan Process section */
#process {
  width: 100%;
  height: 828px;
  padding-top: 5rem;
  margin-bottom: 120px;
  background-color: #2C343E;
  border-radius: 10px;
}

.step h2 {
  font-size: 28px;
  line-height: 32px;
  color: #FFF;
}
.steps .step p {
  color: #FFF;
  margin-bottom: 3.5rem;
}

/* Plan/Order section of Plan.html */
#plan {
  padding-bottom: 120px;
}

.plan-navigation {
  display: none;
}

#all-options {
  margin-bottom: 120px;
}

.option,
.option-btns button,
#order-summary {
  text-align: left;
}

.option {
  width: 328px;
  margin-bottom: 96px;
}
  .option:first-child {
    margin-top: 2px;
  }

.plan-q {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
  .plan-q h2 {
    line-height: 28px;
    color: #83888F;
    width: 240px;
    margin-left: 0;
    cursor: pointer;
  }

  .plan-q.active::before {
    rotate: 0deg;
  }

  .plan-q::before {
    position: absolute;
    top: 10%;
    right: 0%;
    content: url("../images/plan/desktop/icon-arrow.svg");
    width: 18.19px;
    rotate: 180deg;
  }

.option-btns button {
  border: none;
  padding: 24px 25px;
  background-color: #F4F1EB;
  border-radius: 8px;
  cursor: pointer;
}
  .option-btns button:nth-child(2n) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .option-btns button h3 {
    color: #333D4B;
    margin-bottom: 8px;
  }

  .option-btns button p {
    width: 260px;
    font-family: 'Barlow';
    font-size:  16px;
    line-height: 26px;
    color: #333D4B;
  }

#order-summary {
  width: 328px;
  height: 277px;
  padding: 32px 24px;
  margin-bottom: 56px;
  background-color: #2C343E;
  border-radius: 10px;
}
  #order-summary div:first-child {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  #order-summary h3 {
    width: 279px;
    line-height: 40px;
    color: #FFFFFF;
  }
  #order-summary h3 span {
    color: #0E8784;
  }

@media screen and (min-width: 768px) {
  main {
    margin-top: 6px;
  }
  .plan-hero-image {
    background-image: url("../images/plan/tablet/image-hero-blackcup.jpg");
  }

  .plan-hero {
    text-align: left;
    margin-top: 2.1rem;
    margin-left: 3.7rem;
  }
    .plan-hero h1 {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 1px;
    }
    .plan-hero div {
      margin-left: 0;
      width: 398px;
    }
  /* process section @ 768px media query */
  #process {
    height: 441px;
    margin-bottom: 144px;
  }
  .hr-decor.decor2 {
    margin-top: 23px;
    margin-left: 63px;
  }
  .hr-decor.decor2 hr {
    width: 440px;
    margin-left: 15px;
  }
  .circle {
    background-color: transparent;
  }
  .circle2 {
    left: 44.8%;
  }
  .circle3 {
    left: 75.8%;
  }
  @keyframes circleColor {
    0% { background-color: transparent; }
    25% { background-color: #1787833d; }
    50% { background-color: #1787837c; }
    75% { background-color: #178783a1; }
    100% { background-color: #178784; }
  }

  .steps {
    margin-left: 4rem;
  }
    .steps .step {
      margin: 0;
    }
    .step.step2 {
      margin: 0 10px;
    }
    .step.step3 {
      margin-top: 2px;
    }
    .steps .step p {
      width: 223px;
    }
    .step.step2 p {
      width: 215px;
    }
    .step.step3 p {
      width: 204px;
    }

  /* #all-options section @ 768px media query */
  #plan {
    padding-bottom: 144px;
  }

  .option {
    width: 689px;
  }

  .plan-q h2 {
    width: 506px;
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 48px;
  }

  #all-options {
    margin-bottom: 144px;
  }
  .option-btns {
    display: flex;
    margin-bottom: 101px;
  }
    .option-btns button {
      width: 221px;
      height: 250px;
      padding: 0 24px;
    }
    .option-btns button:nth-child(2n) {
      margin: 0 10px;
    }
    .option-btns button h3 {
      margin-top: -3.05rem;
      margin-bottom: 24px;
    }
    .option-btns button p {
      width: 172px;
    }

  #order-summary {
    width: 689px;
    height: 180px;
    padding: 0;
    padding-top: 27px;
    padding-left: 44px;
    margin-bottom: 40px;
  }

  #order-summary h3 {
    width: 602px;
  }
}

@media screen and (min-width: 1150px) {
  #process {
    max-width: 1280px;
    height: 452px;
  }
  .hr-decor.decor2 hr {
    width: 1500px;
    margin-left: 43px;
    margin-right: -50px;
  }
    .circle1 {
      left: 4.2%;
    }
    .circle2 {
      left: 54%;
    }
    .circle3 {
      left: 104%;
    }

  .steps {
    margin-left: 5.85rem;
  }
    .steps .step h2 {
      font-size: 32px;
      line-height: 36px;
    }
    .steps .step p {
      width: 285px;
    }
    .step.step2 {
      margin: 0 95px;
    }
}

.hr-decor hr {
  width: 1500px;
  margin-left: 43px;
  margin-right: -50px;
}

@media screen and (min-width: 1250px) {
  header {
    margin-top: 3px;
  }
    header #logo {
      width: 236px;
    }

  main {
    margin-top: 0;
    margin-bottom: 6rem;
  }
    .plan-hero-image {
      max-width: 1280px;
      height: 450px;
      background-image: url("../images/plan/desktop/image-hero-blackcup.jpg");
    }
    .plan-hero {
      top: 24.5%;
    }
    .plan-hero h1 {
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 32px;
    }
    .plan-hero div {
      width: 445px;
      font-size: 15px;
      line-height: 26px;
    }

  .plan-navigation {
    display: block;
  }

  .plan-q h2 {
    width: 632px;
    font-size: 40px;
  }

  /* Ordering */

  #plan {
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 1.3rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 4fr;
  }

  table {
    width: 255px;
    height: 356px;
    border-collapse: separate;
    border-spacing: 0 1em;
  }
    tr {
      position: relative;
      height: 70px;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: left;
    }

  #all-options {
    width: 100%;
  }

  .plan-q h2 {
    margin-bottom: 1.3rem;
  }

  .plan-step {
    width: 100%;
    cursor: pointer;
  }
  .plan-step:nth-child(n)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    bottom: 0;
    left: 0;
    width: 255px;
    height: 1px;
    border-bottom: 1px solid #83888F;
    opacity: 0.25;
  }
  .plan-step:nth-last-child(1)::after {
    visibility: hidden;
  }
    .plan-num {
      padding-right: 24px;
      color: #83888f;
    }

    .plan-text a {
      color: #323d4b;
      text-decoration: none;
    }
      .plan-text a:hover {
        color: #848990;
      }
      .plan-text.active a {
        color: #adb0b2;
      }

  /* Choosing your order options  */
  .option {
    margin-left: 2.2rem;
    width: 729px;
  }
  .option-btns {
    width: 100%;
  }
  .option-btns button {
    width: 228px;
  }
  .option-btns button:nth-child(2n) {
    margin: 0 19px;
  }

  #summary-container {
    width: 733px;
    margin-top: -0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1400px) {
  header #logo {
    width: 260px;
  }
  .plan-hero-image {
    max-width: 1725px;
  }
}

@media screen and (min-width: 1500px) {
  .plan-hero {
    margin-left: 13%;
  }
  
}

/* button hover, focus and active states */
@media (hover: hover) {
  .option-btns button:hover {
    background: #FDD6BA;
  }

  .option-btns button:active {
    background: #0E8784;
  }

  .option-btns button:active > h3,
  .option-btns button:active > p {
    color: #FFF;
  }
}

.option-btns button:focus {
  background: #FDD6BA;
}


/* order summary overlay */
body {
  position: relative;
}

.overlay-container {
  display: none;
}

.overlay-container.active {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  z-index: -1;
}
  #order-summary-final {
    margin-top: 9%;
    padding-bottom: 24px;
    max-width: 540px;
    width: 90%;
    background-color: #FEFCF7;
    border-radius: 8px;
    z-index: 100;
  }

  #order-summary-final div:first-child {
    background-color: #2e3743;
    padding: 0;
    padding-top: 28px;
    height: 60px;
    border-radius: 8px 8px 0 0;
  }

  #order-summary-final div:nth-child(2n) {
    text-align: left;
    width: 80%;
    margin: 40px 24px 0;
  }

  #order-summary-final h2 {
    text-align: left;
    font-size: 28px;
    color: #FFFFFF;
    margin-left: 24px;
  }
  #order-summary-final h3 {
    line-height: 40px;
    color: #83888F;
  }
  #order-summary-final span {
    color: #178784;
  }

  #order-summary-final p {
    color: #83888F;
    line-height: 25px;
    margin-bottom: 24px;
  }

  .tablet-view-checkout-price {
    display: none;
  }

  #order-summary-final button {
    width: 100%;
  }

@media screen and (min-width: 675px) {
  #order-summary-final {
    margin-top: 214px;
    padding-bottom: 56px;
  }
  #order-summary-final div:first-child {
    background-color: #2e3743;
    padding-top: 48px;
    height: 88px;
  }
  #order-summary-final div:nth-child(2n) {
    margin-top: 57px;
    margin-left: 56px;
  }
  #order-summary-final h2 {
    font-size: 40px;
    line-height: 48px;
    margin-left: 56px;
  }

  #order-summary-final p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 7px;
    margin-bottom: 47px;
  }

  .tablet-view-checkout-price {
    display: inline;
    font-size: 32px;
    line-height: 36px;
    margin-right: 13px;
  }
  #order-summary-final button {
    width: 217px;
  }
}

@media screen and (min-width: 900px) {
  #order-summary-final p {
    width: 428px;
  }
}

.option-btns {
  display: none;
}
.option-btns.active {
  display: block;
}
